

.main {
  /* width: auto; */
  /* height: auto; */
  max-width: 100%;
  max-height: 100%;

  background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-dogs-div {
  display: flex;
  justify-content: center;

  margin-bottom: 4%;
  margin-top: 90px;
}



.results-dogs {
  background: #fff;
  position: relative;
  width: 88%;
  padding: 3%;
  box-shadow: inset 0px 0.3em 0.1em rgba(0, 0, 0, 0.2);
}
/* .beer-row> * {
  flex: 0 0 25%;
  max-width: 25%;
  margin-bottom: 5%;
  
} */



.row {
  margin-top: 5%;
}

.card-img-top {
  height: 300px;
  object-fit: scale-down;
  padding-top: 20px;
  background-color: #e8e8e8;
}
.card-title {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.card-text {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.card-body {
  object-fit: scale-down;
  height: 190px;
  color: black;
  background-color: #e8e8e8;
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.fast {
  display: inline-block;
  text-align: center;
  font-family: neon;
  color: #fb4264;
  font-size: 3vw;
  line-height: 3vw;
  text-shadow: 0 0 2vw #f40a35;
}

.flicker {
  display: inline-block;
  text-align: center;
  font-family: neon;
  color: #181d2e;
  font-size: 3vw;
  line-height: 3vw;
  text-shadow: 0 0 2vw #2356ff;
}

.fast {
  animation: fast 1s ease infinite;
  -moz-animation: fast 1s ease infinite;
  -webkit-animation: fast 1s ease infinite;
}

@keyframes fast {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
      0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}

.flicker {
  animation: flicker 2s linear infinite;
  -moz-animation: flicker 2s linear infinite;
  -webkit-animation: flicker 2s linear infinite;
  -o-animation: flicker 2s linear infinite;
}

@keyframes flicker {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
}

.searchdiv {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttondiv {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 80vw;
}
.buttondiv button{
  margin: 10px;
}

.anchorDog {
  width: 100px;
}
.brewdog {
  height: 100%;
  width: 100%;
}

.navDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  
}

.link {
  font-family: 'Oswald', sans-serif;
  color: black !important;
  size: 5rem;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.link:hover {
  color: #ffe05d !important;
}

.homediv {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  padding: 20px 0;
  height: 100vh;
  
}
.homediv h1,
.homediv h2 {
  font-family: 'Oswald', sans-serif;
  color: black;
  
 
}
.dogs-and-beer {
  border-radius: 10px;
  margin: 30px 0;
  width: 500px;
 
  -webkit-box-shadow: 0px 0px 3px 5px #ffefa0;
  -moz-box-shadow: 0px 0px 3px 5px #ffefa0;
  box-shadow: 0px 0px 3px 5px #ffefa0;
}
.results-dogs-div{
  width: 80%;
}

.beer-info-background, .randombeerbackground {
  border: 1px solid black;
  border-radius: 100px;
  padding: 40px !important;
  height: auto;
  margin-top: 40px;
  background: rgb(255,255,253);
background: linear-gradient(180deg, rgba(255,255,253,1) 0%, rgba(249,206,76,1) 54%);
}
.beer-info-wrapper{
  background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  padding-bottom: 40px;

}
.beerName {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: black;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}
.beerImage {
  width: 15%;
  height: 40%;
  float: left;
}
.beerHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.beerABV,
.beerIBU {
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  color: black;
  text-align: center;
  padding-left: 50px;
}
.tasting-notes {
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  color: black;
  text-align: center;
  padding-left: 50px;
  text-decoration: underline;
}
.beerDescription {
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  color: black;
  text-align: justify;
  padding-right: 50px;
  padding-left: 50px;
}
.foodPairing-div {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.foodPairing-header {
  /* display: flex; */
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  color: black;
  /* text-align: center; */
  padding-left: 50px;
  text-decoration: underline;
}
.foodPairing {
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  color: black;
  padding-left: 10px;
  /* text-align: justify; */
  /* padding-right: 50px;
  padding-left: 50px; */
}

.beerOG {
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  color: black;
  text-align: justify;
}

h2 {
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  color: black;
  text-align: justify;
}
h3 {
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  color: black;
  text-align: justify;
}
.brewing-tips-div {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  
}
.brewing-tips {
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  color: black;
  text-align: center;
  
  text-decoration: underline;
}
.beerBrew {
  
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  color: black;
  
  padding-right: 50px;
  
}
.beerMalt {
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  color: black;
  text-align: justify;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.randomName {
  display: flex;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;
}
.randomDescription {
  display: flex;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 40px;
  text-align: justify;
  padding-right: 50px;
  padding-left: 50px;
}
.randomfoodPairing {
  display: flex;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 40px;
  text-align: justify;
  padding-right: 50px;
  padding-left: 50px;
}

.randombeerABV {
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  color: white;
  text-align: justify;
}
.randombeerIBU {
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  color: white;
  text-align: justify;
}

.line {
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  color: white;
  text-align: justify;
}
.randombeerBrew {
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  color: white;
  text-align: justify;
  padding-right: 50px;
  padding-left: 50px;
}


@media only screen and (max-width: 768px){
  .dogs-and-beer {
    width: 70%;
  }
  
  .results-dogs{
    width: 60%;
    height: 60%;
    
  }
  
  
  /* .beer-card{
    width: 150px !important;
  } */
  .button-div-ABV, .button-div-IBU {
    display: flex;
  }
  
}
@media only screen and (max-width: 540px){
  .home-title{
    font-size: 25px;
  }
  .age-question{
    font-size: 25px;
  }
  
  .buttondiv{
    flex-direction: column;
    align-items: center;
  }
  .beer-card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center
  }
  
}
@media only screen and (max-width: 375px){
  .beer-info-background {
    width: 95%;
  }
  .beerABV,
.beerIBU, .tasting-notes,.beerDescription, .foodPairing-header{
  padding-left: 10px;
  padding-right: 0;
}
}
@media only screen and (max-width: 320px){
  .button-div-ABV, .button-div-IBU{
    flex-direction: column;
    align-items: center;
  }
  
  
}